extends layout 

block content 
  h1= title 
  - var result = results 
  div.container-fluid
     div.row
        each item,index in result
            div.col-sm-2(onclick=`buy(${index})`) Earbuds Name: #{item["earbuds_name"]}  <br>  Earbuds_size: #{item["earbuds_size"]} <br> Earbuds_type: #{item["earbuds_type"]} 
  script.
      function buy(index){
         alert("you purchased item "+index+1)
      }