extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to update
  else
    - let earbudsid = toShow._id
    - let earbuds_name = toShow.earbuds_name
    - let earbuds_size = toShow.earbuds_size
    - let earbuds_type = toShow.earbuds_type
    - let actionid = "/resource/earbudss/" + earbudsid
    script let actionid = "#{actionid}"
    div.row(class='mb-2')
    div.mr-1 ID is 
      span(style="color:red")  #{earbudsid}
    form(id='earbudsForm', action= actionid, method="PUT")
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.earbudsAttr(for='earbuds_name',class="col-form-label") earbuds name
        div(class="col-auto")
          input#earbuds_name(type='text', name='earbuds_name',class="form-control", value=earbuds_name)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.earbudsAttr(for='earbuds_size',class="col-form-label") earbuds size 
        div(class="col-auto")
          input#earbuds_size(type='text', name='earbuds_size',class="form-control", value=earbuds_size)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.earbudsAttr(for='earbuds_type',class="col-form-label") earbuds type
        div(class="col-auto")
          input#earbuds_type(type='text', name='earbuds_type',class="form-control", value=earbuds_price)
      input(class="btn btn-danger m-2" type="submit")
        //- button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    
    script.
      document.forms['earbudsForm'].addEventListener('submit', (event) => {
       event.preventDefault();
      // TODO do something here to show user that form is being submitted
       fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Update succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
       });
      });